node_modules/
dist/
release/
out/
*.log
.DS_Store
resources/sidecar/*.exe
resources/sidecar/*.msi
resources/sidecar/build/
resources/sidecar/dist/
resources/sidecar/__pycache__/
/houla-sidecar.spec
build/houla-sidecar/
build/*.spec
ViGEmBusSetup_x64.msi
.vscode/

# Tests
test-results/
playwright-report/
